# --- Python ---
venv/
__pycache__/
*.py[cod]
*$py.class

# --- Logs & temp files ---
*.log
*.swp
*.swo
.DS_Store

# --- IDE: IntelliJ IDEA ---
.idea/
*.iml
*.ipr
*.iws
out/

# --- IDE: VS Code ---
.vscode/

# --- Jupyter Notebook ---
.ipynb_checkpoints/

# --- Databases ---
*.db
*.sqlite
*.sqlite3


# Локальные конфиги
.env.local
app/.env.local
/data/*
